main{
    width: 100wh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main__container{
    position:relative;
    padding: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 15px;
}


.button__logout{
    position:absolute;
    right:10px;
    bottom:10px;
}